html {
    height: 100vh;
    margin: 0;
}

#root {
    width: 100%;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    height: 100vh;
    display: flex;
    font-size: 18px;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

#start-button {
    background: none;
    border: 0px;
    color: red;
    padding-top: 7px;
    position: absolute;
    z-index: 5;
}

.navbar-nav>li {
    display: inline;
    margin-left: 0.5rem;
    margin-right: 1rem;
    padding: 0;
}

.navbar-nav>li:first-child {
    margin-left: 3rem;
}

#notes-list,
#single-note,
#new-note {
    margin-top: 3rem;
    padding: 2rem;
    z-index: 1;
}

#new-note {
    font-size: 4rem;
    position: absolute;
    top: 20%;
    transform: translateY(-60%);
}

#date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#start-button {
    margin-left: 2rem;
    margin-top: 4rem;
}