html {
    height: 100vh;
    margin: 0;
}

#root {
    background-color: whitesmoke;
    width: 100%;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    height: 100vh;
    display: flex;
    font-size: 18px;
    margin: 0;
    padding-top: 4rem;
}

li {
    list-style-type: none;
}

#intro {
    background-color: white;
    border-radius: 0px;
    margin-top: 0;
}

#new-note {
    color: black;
}

#navbar {
    z-index: 3;
}

#about {
    background-color: white;
    border-radius: 25px;
    margin: 2rem 4rem;
    padding: 1rem 3rem;
    z-index: 2;
}

#date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#scroll-notes {
    animation: scrollUp 30s 0.16s infinite forwards;
}

@keyframes scrollUp {
    from {
      transform: translateY(-83.33333%);
    }
    to {
      transform: translateY(0);
    }
  }