body {
    color: black;
}

#NotesList {
    border: 1px;
    border-color: black;
    list-style-type: none;
}

#NotesList > li > a {
    text-decoration: none;
}

#NewText {
    background-color: white;
    color: black;
    padding: 1.5rem;
    font-size: 4.5rem;
}

li:first-child {
    font-size: 4.5rem;
}