body {
    background-color: rgb(0, 228, 159);
    color: white;
}

#NotesList {
    border: 1px;
    border-color: black;
    list-style-type: none;
}

#NewText {
    background-color: white;
    color: black;
    padding: 1.5rem;
}